<section id="admin_home">
    <div class="container">

        <div class="row justify-content-center mt-5">
            <div class="col-lg-10">
                <div class="card p-5">
                {{#if users}}
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Actions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{this.email}}</td>
                            <td>{{this.status}}</td>
                            <td><div>
                                <a href="/admin/editUser/{{this._id}}" class="btn  btn-warning rounded me-3"><i class="fas fa-user-edit"></i></a>
                                <a  class="btn btn-danger ms-3"  onclick="deleteUser('{{this._id}}')"><i class="fas fa-trash-alt"></i></a>
                            </div></td>
                        </tr>
                        {{/each}}
                       
                    </tbody>
                </table>
                {{else}}
                <h1>{{message.message}}</h1>
                {{/if}}
            </div>

            </div>
        </div>
    </div>
</section>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function deleteUser(id){
    console.log(id)
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this imaginary file!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url:"/admin/deleteUser/",
                method:"POST",
                data:{id:id},
                success:(result)=>{
                location.reload();                      

                    
                }
                
            })
      }else{
          console.log("sdfsd")
      }
      })

}
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>   